FFmpegRunner/bin/
FFmpegRunner/obj/debug/
FFmpegRunner/obj/release/
FFmpegRunner.Tests/bin/
FFmpegRunner.Tests/obj/debug/
FFmpegRunner.Tests/obj/release/
FFmpegRunner.Samples/bin/
FFmpegRunner.Samples/obj/debug/
FFmpegRunner.Samples/obj/release/
.vs/
.vscode/
