################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/FFmpegRunner.Tests/obj/Debug/
/FFmpegRunner.Tests/obj/Release/
/FFmpegRunner.Tests/bin/Release/
/FFmpegRunner.Tests/bin/Debug/
/FFmpegRunner.Samples/obj/Debug/
/FFmpegRunner.Samples/obj/Release/
