################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/FFmpegRunner.Tests/obj/Debug/net8.0
/FFmpegRunner.Tests/obj/Release/net8.0
/FFmpegRunner.Tests/bin/Release/net8.0
/FFmpegRunner.Tests/bin/Debug/net8.0
/FFmpegRunner.Samples/obj
